1.display: none, block , inline-block
2.margin: top right bottom left;
3.width , height , background-color ,color(content color);
4.position: absolute,relative,                              [study sticky,  fixed];
eg    .parent{
    position: relative;
    background-color: #E3F6FF;
    width: 300px;
    height: 300px;
    ;
}

.child {
    position: absolute;
    background-color: #00337C;
    width: 100px;
    height: 100px;
    margin: 5px;
    top: 0;
    right: 0;
}

